.nav-bar
{
    background-color: #B1B8C0;
    opacity : 0.9;
    position : sticky;
    text-decoration-color : #131517;
    text-decoration-thickness: 25%;
}

.image-responsive
{
    position: relative;
    max-width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
  }

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
}